:root {
    --bg-main: #FFFFF5;      /* Varm elfenben/gräddvit för lässidor #FFFFF5, RGB 255 255 245 (tidigare färg #FFFFEF, RGB: 255 255 239) */
    --bg-tropics: #050508;   /* Mörk rymdbakgrund för 3D-globen */
}

/* Standard för alla vanliga sidor */
body {
    background-color: var(--bg-main);
}

/* Specifik bakgrund för tropics.html */
body.tropics-page {
    background-color: var(--bg-tropics);
}
